<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Copy this file to TrenordKey.plist (git-ignored) and set the passphrase of the Trenord feed. -->
	<key>key</key>
	<string></string>
</dict>
</plist>
